{% extends "admin/layout/base.html" %}
{% load static from staticfiles %}
{% block content %}

    <div class="panel-body">
        <div class="invoice">
            <header class="clearfix">
                <div class="row">
                    <div class="col-sm-6 mt-md">
                        <h2 class="h2 mt-none mb-sm text-dark text-bold">ЗАКАЗ</h2>
                        <h4 class="h4 m-none text-dark text-bold">#{{ order.id }}</h4>
                    </div>
                    <div class="col-sm-6 text-right mt-md mb-md">
                        <div class="ib">
                            <img src="{% static 'admin/assets/images/invoice_logo.png' %}" alt="Binnocle logo"/>
                        </div>
                    </div>
                </div>
            </header>
            <div class="bill-info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bill-to">
                            <p class="h5 mb-xs text-dark text-semibold">Клиент:</p>
                            <address>
                                <a href="https://telegram.me/{{ order.contact }}">@{{ order.contact }}</a>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bill-data text-right">
                            <p class="mb-none">
                                <span class="text-dark">Дата заказа:</span>
                                <span class="value">{{ date }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table invoice-items">
                    <thead>
                    <tr class="h4 text-dark">
                        <th id="cell-id" class="text-semibold">#</th>
                        <th id="cell-item" class="text-semibold">Товар</th>
                        <th id="cell-price" class="text-center text-semibold">Цена</th>
                        <th id="cell-qty" class="text-center text-semibold">Количество</th>
                        <th id="cell-total" class="text-center text-semibold">Итого</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.SKU }}</td>
                            <td class="text-semibold text-dark">{{ product.name }}</td>
                            <td class="text-center">{{ product.price }}</td>
                            <td class="text-center">{{ product.count }}</td>
                            <td class="text-center">{{ product.total_cost }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="invoice-summary">
                <div class="row">

                    <div class="col-sm-4 col-sm-offset-8">
                        <table class="table h5 text-dark" id="invoice_data">
                            <tbody>
                            <tr class="b-top-none">
                                <td colspan="2">Итого</td>
                                <td class="text-left">{{ price }} Руб</td>
                            </tr>
                            <tr>
                                <td colspan="2">Доставка</td>
                                <td class="text-left">{{ ship_price }} Руб</td>
                            </tr>
                            <tr class="h5">
                                <td colspan="2">Итоговая сумма</td>
                                <td class="text-left">{{ total }} Руб</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="orderComment"><h4>Комментарий к заказу:</h4></label>
                            <label class="col-md-4 control-label" id="orderComment"><h4>{{ order.comment }}</h4></label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="orderLink"><h4>Ссылка на заказ:</h4></label>
                            <div class="col-md-8">
                                <input type="text" value="" id="orderLink" class="form-control"
                                       readonly="readonly" onclick="this.select()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right mr-lg">
            <button class="btn btn-danger" onclick="SetOrderStatus({{ order.pk }},'rejected')">Отменить заказ</button>
            <button class="btn btn-default" onclick="SetOrderStatus({{ order.pk }},'active')">Подтвердить заказ</button>
            <a href="pages-invoice-print.html" target="_blank" class="btn btn-primary ml-sm" id="print_btn"><i class="fa fa-print"></i>
                Распечатать</a>
        </div>
    </div>
    <script>
        window.onload = function(){
            $.ajax({
                type: "get",
                url: "get_order_hash?pk=" + {{ order.pk }},
                success: function (data) {
                        var x = document.getElementById('orderLink');
                        x.setAttribute('value', 'http://' + window.location.hostname + '/view_order?hash=' +data['hash']);
                        var y = document.getElementById('print_btn');
                        y.setAttribute("href", 'http://' + window.location.hostname + '/view_order?hash=' +data['hash']);
                },
                error: function () {
                    alert("error");
                }
            });
        };
        function SetOrderStatus(pk, status) {
            $.ajax({
                type: "get",
                url: "set_order_status?pk=" + pk + "&status=" + status,
                success: function (data) {
                    if (data['error'] == 0) {
                        var status_result="активный";
                        var info_type = "info";
                        if(status=='rejected'){
                            status_result="отмененный";
                            info_type="warning";
                        }
                        new PNotify({
                           title: 'Статус заказа изменен',
                            text: 'Заказ №' + pk + ' помечен, как ' + status_result,
                            type: info_type,
                            addclass: 'icon-nb'
                        });
                        var x = document.getElementById('orderLink');
                        x.setAttribute('value', 'http://' + window.location.hostname + '/view_order?hash=' +data['hash']);
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        }

    </script>
{% endblock %}