{% extends "shop/layout/base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    {% for product in products %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div>{{ product.name }}</div>
            <img src="{{ product.img_url }}" alt="..." class="img-thumbnail">
            <div class="text-right">
              {{ product.price }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}