{% extends "shop/layout/base.html" %}
{% load mathfilters %}
{% load staticfiles %}
{% block javascript %}
    {{ block.super }}
    {% include "shop/catalog/_products_js.html" %}
{% endblock %}
{% block stylesheet %}
<style>
body {
    background: #f2f5f7;
}
</style>
{% endblock%}
{% block sidemenu %}
    {% include "shop/catalog/_categories.html" %}
{% endblock %}

{% block content %}
<div class="content-wrapper">
        {% if category or q %}
            <ol class="breadcrumb">
                <li><a href="{% url 'catalog' %}">Все товары</a></li>
            {% if category_breadcrumbs %}
                {% for item in category_breadcrumbs %}
                    {% if item.id != category.id %}
                    <li><a href="?c={{ item.id }}">{{ item.name }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
                <li class="active">{{ category.name | default:q }}</li>
            </ol>

            <!-- <h1>{{ category.name | default:q }}</h1> -->
    
            {% include 'shop/catalog/_pager.html' %}
            <div class="row">
            <ul class="row list-products" id="ms-container">
                {% for product in products %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ms-item">
                        <li>
                            <img src="{{ product.img_url }}" alt="{{ product.name | safe }}" class="small-img">
                            <div class="product-item-info">
                                <b class="title" title="{{ product.name | safe }}" >
                                {% if admin %}
                                <span class="badge">{{ product.SKU }}</span>&nbsp;
                                {% endif %}
                                {{ product.name | safe | truncatechars:52 }}</b>

                                <em class="product-price">{{ product.price }}&nbsp;<i
                                            class="fa fa-ruble small"></i></em>

                                <div class="buynow">
                                    <span id="product-{{ product.id }}"></span>
                                </div>
                            </div>
                        </li>
                    </div>
            {% endfor %}       
            </ul>

            {% if not products %}
                <div class="jumbotron no-match">
                    <h1>Отличная попытка!</h1>

                    <p>Но, товары, похожие на <strong>"{{ q }}"</strong> не существуют в этой реальности.</p>

                    <p>Можно заказать их из параллельного мира, нажав на <span id="basket2"></span>
                        <br>либо <a class="btn btn-default" href="{% url 'catalog' %}"><i
                                    class="text-muted fa fa-binoculars"></i> продолжить охоту</a>
                    </p>
                </div>
            {% endif %}
            </div>
            {% include 'shop/catalog/_pager.html' %}
        {% endif %}
    </div>
{% endblock %}
