{% extends "shop/layout/base.html" %}

{% block javascript %}
    {{ block.super }}
    <script src="/static/js/shop/build/shop.js"></script>
    <script>
    $(document).ready(function(){
        BasketStore.initialize('{% url 'add_product' %}', '{% url 'get_products' %}');
        React.render(React.createElement(Basket, { url: '{% url 'order' %}', price: BasketStore.totalSum() }), document.getElementById('basket'));
        React.render(React.createElement(BasketList, { }), document.getElementById('basket-list'));
    });
    </script>
    <script>
        var handleCtrlEnter = function (e) {
          var charCode;

          if (e && e.which) {
            charCode = e.which;
          } else if (window.event) {
            e = window.event;
            charCode = e.keyCode;
          }

          if (((charCode == 13)&&(e.ctrlKey))||(charCode==10)) {
            document.getElementById('orderForm').submit();
          }
        }
    </script>
{% endblock %}

{% block content %}
<div class="container">
    {% include 'shop/catalog/_basket.html' %}
    <div class="row">
        <div class="col-sm-12">
            <form action="{% url 'order' %}" id="orderForm" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="contact" name="contact" class="form-control"
                           placeholder="@telegram или номер телефона">
                </div>
                <div class="form-group">
                    <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Комментарий"
                              class="form-control" onkeypress="handleCtrlEnter(this)"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Оставить заказ" class="btn btn-success btn-block">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
