{% extends "shop/layout/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>Good job! <sup class="small"> <i class="fa  fa-registered"></i></sup></h1>
                <p>Ваш заказ получен. В ближайшее время с вами свяжется повелитель кармы.</p>
                <a href="{% url 'catalog' %}" class="btn btn-success"><i class="fa fa-binoculars"></i>  Продолжить охоту</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
