<div class="sidebar-header">
    <div class="sidebar-title">
        Меню
    </div>
    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html"
         data-fire-event="sidebar-left-toggle">
        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
</div>

<div class="nano">
    <div class="nano-content">
        <nav id="menu" class="nav-main" role="navigation">
            <ul class="nav nav-main">
            <li class="nav-active">
                <a href="dashboard.html">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>Главная страница</span>
                </a>
            </li>
            <li class="nav-parent">
                <a>
                    <i class="fa fa-copy" aria-hidden="true"></i>
                    <span>Работа с заказами</span>
                </a>
                <ul class="nav nav-children">
                    <li>
                        <a href="todo_list.html">
                            TODO Лист
                        </a>
                    </li>
                </ul>
            </li>
          </ul>
        </nav>
    </div>
</div>
