{% extends "shop/layout/base.html" %}
{% load mathfilters %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            var products = [];
            {% for product in products %}
                products[{{product.id}}] = {
                    name: '{{ product.name }}',
                    price: {{ product.price }},
                    id: {{ product.id }},
                    min_count: {{ product.min_count }},
                    rating: {{ product.rating }}
                };
            {% endfor %}
            if (products.length > 0) {
                ProductStore.setInitialState(products);

                for (var i in products) {
                    React.render(React.createElement(Price, {
                        price: products[i].price,
                        id: i,
                        count: BasketStore.getProductCount(i)
                    }), document.getElementById('product-' + i));
                    {% if admin %}
                        React.render(React.createElement(Rating, {
                            id: i,
                            rating: products[i].rating,
                            url: '{% url 'update_rating' %}'
                        }), document.getElementById('product-rating-' + i));
                    {% endif %}
                }
            }

            if ($('#basket2').length)
                React.render(React.createElement(Basket, {
                    url: '{% url 'order' %}',
                    price: BasketStore.totalSum()
                }), document.getElementById('basket2'));
        });
    </script>
{% endblock %}

{% block content %}

    <div class="container">
        {% for cat in categories %}
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ cat.name }}</h3>
                    </div>
                    <div class="panel-body">
                        {% for product in cat.products %}
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="panel panel-info product">
                                    <div class="panel-heading">
                                        <div title="{{ product.name | safe }}">{% if admin %}
                                            <span class="badge">{{ product.id }}</span>
                                            &nbsp;{% endif %}{{ product.name | safe | truncatechars:52 }}</div>
                                    </div>
                                    <div class="panel-body text-center">
                                        <img src="{{ product.img_url }}" alt="{{ product.name | safe }}" class="">
                                    </div>
                                    <div class="panel-footer clearfix">
                                        {% if product.min_count == 1 %}
                                            <span class="h3">{{ product.price }}&nbsp;<i class="fa fa-ruble small"></i></span>
                                        {% else %}
                                            <span class="h3">
                            {% with numerator=product.price denominator=product.min_count %}
                                <span class="small">{{ product.min_count }} <i class="fa fa-close"></i> </span>
                                <span class="">{{ numerator|div:denominator|floatformat }}</span>&nbsp;
                                <i class="fa fa-ruble small"></i></span>
                            {% endwith %}
                                        {% endif %}

                                        <div class="pull-right" id="product-{{ product.id }}"></div>
                                        {% if admin %}
                                            <div id="product-rating-{{ product.id }}"></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

