body {
    background: #eaeaea;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

ul.list-products{ 
    margin: 0;
    padding: 0;
    list-style: none;
}

#ms-container {
    margin-bottom: 30px;
}

.breadcrumb,
.jumbotron {
    background: #ffffff;
    border-radius: .25em;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.list-products li,
.info-box {
    margin-bottom: 2em;
    padding: 0;
    background: #ffffff;
    border-radius: .25em;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.list-products li:hover,
.info-box:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.info-box h2 {
    margin-top: 0;
}

.product-item-info {
    padding: 1em 1.5em;
    display: block;
}

.product-item-info .title {
    display: inline-block;
    width: 100%;
    color: #2f2933;
    font-size: 1em;
}

.product-item-info .buynow {
    cursor: pointer;
}

.product-item-info em {
    display: inline-block;
    color: #2f2933;
    position: relative;
    font-size: 2em;
    font-weight: 600;
}

.product-item-info .buynow {
    display: inline-block;
    color: #a5d05e;
    position: relative;
    font-size: 2em;
    font-weight: 600;
    text-align: right;
    float: right;
}

.list-products li img {
    display: block;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}

.list-products li img.small-img {
    margin-top: 20px;
}

.info-box {
    padding: 2em;
}

.list-products > li > a {
    display: block;
}

.product-rating .label {
    font-size: 0.5em;
    padding: 0.2em 0.5em .2em;
}

.product-rating .btn-group {
    margin-top: 5px;
}

.separator {
    display: block;
    border-bottom: 1px solid #333;
}

.separator h2 {
    color: #333;
    display: table-cell;
    border-bottom: 1px solid #333;
    padding: 0 15px 5px 10px;
}
