<header class="main-header">
    <div class="search is-hidden">
        <form role="search" action="{% url 'catalog' %}" method="get">
            <input type="search" placeholder="Поиск"  name="q" value="{{ q }}">
        </form>
    </div>
    <!-- search -->
    <a href="#0" class="nav-trigger"><span></span></a>
    <nav class="nav">
        <ul class="top-nav">
            <li><a href="{% url 'feedback' %}"><i class="fa fa-question"></i> Отзывы</a></li>
            <li><a href="https://telegram.me/joinchat/BVB_jQGqqKuL2ZHNVRfwSA" target="_blank"><b>TG</b> Телеграм</a></li>
            <li><a href="https://vk.com/innoshop" target="_blank"><i class="fa fa-vk"></i> Вконтакте</a></li>
            {% if request.user.is_staff %}
            <li><a href="/admin" target="_blank"><i class="fa fa-lock"></i> Админка</a></li>
            {% endif %}
            <li id="basket" ></li>

        {% include 'shop/catalog/_basket.html' with style='display:none' %}

        </ul>
    </nav>
</header>